body {
  margin: 0;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 500px;
  background: white;
  padding: 40px;
  border: 1px solid #ddd;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 55px;
  font-weight: bold;
}

.login-box label {
  display: block;
  margin-bottom: 12px;
  margin-top: 25px;
  font-size: 22px;
}

.login-box input {
  width: 100%;
  padding: 22px;
  font-size: 22px;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  box-sizing: border-box;
}

.login-box button {
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  font-size: 24px;
  color: white;
  background: #1976f2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-box button:hover {
  background: #1565c0;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.signup-text span {
  color: #1976f2;
  cursor: pointer;
}